<h1><%= @student[:name] %></h1>

<p>Hometown: <%= @student[:city] %></p>
<p>Description: <%= @student[:description] %></p>
<p><img src="<%= @student[:picture_url] %>" /></p>

<div><%= link_to "Back Home", root_path %></div>